*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    align-items: center;
    background: black;
    transition: ease 0.3s; 
}

.card{
    backdrop-filter: blur(10px);
    width: 100%;
    max-width:600px;
    background: rgba(195, 180, 180, 0.2);
    box-shadow:inset -3px -3px 5px rgb(0, 0, 0),inset 5px 5px 5px rgba(197, 199, 198,0.1);
    color:#fff;
    margin-top: 5%;
    margin-left:30% ;
    padding: 40px 35px;
    text-align: center;
    border-radius: 15px;
    overflow: auto;
    width: clamp(180px,75%,470);
}

.search{
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.search input:hover{
    box-shadow:inset  -3px -3px 5px rgb(155, 160, 160),inset 3px 3px 5px rgb(161, 165, 162);
    background-color: transparent;
    color: white;
}

.search input{
    box-shadow:3px 3px 5px rgb(15, 15, 15), -3px -3px 5px rgb(161, 165, 162);
    border: 0;
    outline: 0;
    background-color: #5b6060;
    color:#ffffff;
    padding: 7px 50px ;
    padding-right: 10px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;

}

.search button{

    border: 0;
    outline: 0;
    margin-right: 10px;
    padding: 10px 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #626766;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search button img{
    width:16px;
}

.weather-icon{
    width:170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity,.wind,.pressure{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display:block;
}



body{
    background-color: #24252a;
}

nav,ul,li{
    color: whitesmoke;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    height: 70px;
    width: 80px;
    cursor: pointer;
    margin-right: auto;
}

.links{
    list-style: none;
}

.links li{
    display:inline-block;
    padding: 0px 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li:hover {
    cursor: pointer;
    color: rgb(64, 231, 237);
    transition: all 0.3s ease 0s;
    background-color: #63656f;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    background-color: rgb(89, 82, 82);
    box-shadow:  3px 3px 5px rgb(0,36,7), -3px -3px 5px rgb(161, 165, 162);
    cursor: pointer;
    padding: 6px 18px;
    border-radius: 90px;
    border-left: 50px;
    border: none;
    transition: all 0.3s ease 0s;
    margin-left: 25px;
}

button:hover{
    box-shadow:inset  -3px -3px 5px rgb(0,36,7),inset 3px 3px 5px rgb(161, 165, 162);
    color: rgb(0, 0, 0);
    padding:8px 15px;
    background-color: rgb(119, 115, 115);
    z-index: 1;
}

.text{
    color: rgb(185, 186, 186);
    text-align: center;
    border: #63656f;
}

.checkbox{
    height: 20px;
    width: 40px;
    background-color: #24252a;
    appearance: none;
    border-radius: 40px;
    box-shadow: -3px -3px 7px #f2f1f142, 3px 3px 7px #faf9f942;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.checkbox::before{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: inset -3px -3px 7px #8b878742,inset 3px 3px 7px #27262642;
}

.checkbox:checked{
    background: #ffffff;
    box-shadow:inset 3px 3px 7px #0909097d ,inset -3 -3px 7px #0909097d;
}

.checkbox:checked::before{
    left:20px;
    box-shadow:inset 0 0  7px #000000;
    background: white;
}


@media only screen and (max-width: 480px) {
    .card {
        margin-left: 5%;
        width: 90%;
        padding: 20px;
    }
    .search input {
        padding: 20px;
        font-size: 16px;
    }
    .weather h1 {
        font-size: 50px;
    }
    .logo {
        display: none;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
    }

    .col {
        margin-bottom: 20px;
    }

    .humidity, .wind, .pressure {
        font-size: 18px;
        margin-top: 0;
    }

    .checkbox{
        height: 15px;
        width: 25px;
    }

    .checkbox::before{
        height:15px ;
        width: 15px;
    }

    .checkbox:checked::before{
        left:10px;
        box-shadow:inset 0 0  7px #000000;
        background: white;
    }

    .btn {
        display: none;
    }

    .col{
        height: 20px;
    }

    .search input:hover{
        box-shadow:inset  -3px -3px 5px rgb(37, 38, 38),inset 3px 3px 5px rgb(161, 165, 162);
        color: white;
        backdrop-filter: blur(10px);
    }

}
